@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@300&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:wght@300&family=Oswald:wght@700&family=Roboto:wght@300&display=swap');

*{
    margin: 0px;
    padding: 0px;
}


:root{
    --colorA: #2A89BF;
    --colorB: #1C5B80;
    --colorC: #38B6FF;
    --colorD: #0E2E40;
    --colorE: #32A4E6;

    --font-family: 'Noto Sans', cursive, sans-serif;
    --font-title: 'Oswald', sans-serif;
}

/*header*/
header {
    display: table;
    position: fixed;
    background-color: var(--colorD);
    width: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.395);
}

header > img {
    height: 30px;
    display: table-cell;
    vertical-align: middle;
}

#logo-header {
    width: 15%;
    height: 70px;
}

header > nav {
    text-align: right;
    padding-right: 30px;
    display: table-cell;
    vertical-align: middle;
    
}

header > nav > a {
    padding: 10px;
    text-decoration: none;
    color: var(--colorC);
    font-size: 1.2em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.395);
}
header > nav > a:hover {
    color: #ebf2f6;
}



/*main*/
article {
    text-align: center;
    width: 80%;
    margin: auto;  
}



article > h1 {
    padding-top: 70px;
    color: #0E2E40;
    font-family: var(--font-title);
    font-size: 4em;
}
article > p {
    color: #0E2E40;
    font-family: var(--font-family);
    padding: 15px;
} 

.module-book {
    max-width: 250px;
    border-radius: 15px;
    margin: 20px; 
}

#foto-capa {
    width: 100%;
    height: 100%;
    position: static;
}

#title {
    position: absolute;
    margin-top: 18%;
    width: 100%;
    text-align: center;
    font-family: var(--font-title);
    font-size: 40%;
    color: var(--colorC);
    text-shadow: 5px 5px 10px var(--colorD);
}

#sub-title {
    position: absolute;
    margin-top: 34%;
    width: 100%;
    text-align: center;
    font-family: var(--font-title);
    font-size: 1.5em;
    color: #fff;
    text-shadow: 2px 2px 10px var(--colorC);
}


/*FORM*/
aside {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family);
    flex-direction: column;
    color: var(--colorD);
    padding: 20px;
    min-height: 40vh;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--colorD);
    width: 100%;
}

#name, #email {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    margin: 10px;
    font-family: var(--font-family);
    color: var(--colorD);
}

label {
    font-size: 1.3em;
    color: var(--colorD);
    font-family: var(--font-family);
}

#message {
    width: 300px;
    height: 60px;
    border-radius: 5px;
    margin: 15px;
    text-align: left;
    font-family: var(--font-family);
}
#message::placeholder {
    color: var(--colorD);
    text-align: center;
    padding: 5px;
}

#input-btn {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--colorD);
    color: white;
    font-family: var(--font-family);
    margin-top: 5px;
}
#input-btn:hover {
    background-color: var(--colorE);
    color: var(--colorD);
}



/*footer*/
footer {
    background-color: var(--colorD);
    color: #fff;
    text-align: center;
}

footer > p {
    padding: 10px;
    font-family: 'Noto Sans', cursive;
}
footer > a > ion-icon {
    padding: 20px;
    color: #fff; 
    font-size: 1.5em;
}
footer > a > ion-icon:hover {
    color: var(--colorE); 
}

footer > a {
    text-decoration: none;
}

.line {
    border: 0.1px solid rgba(255, 255, 255, 0.172);
    width: 100%;
}
